
body {
  background-color: #8F6AB2;
  margin-top: 20px;
  border-spacing: : : 50px 250px 50px 250px;
}

h1 {
  background-color: #8F6AB2;
  color:yellow;
  font-family: 'Teko', sans-serif;

}

h2 {
  background-color: #8F6AB2;
  color:yellow;
  font-family: ;
}
.about-us-heading {
  background-color: ;
  color: ;
}

.container-uma {
  font-family: 'Quattrocento', serif;
  background: #273F4A no-repeat;
  background-size: cover;
  padding: 50px;
}

.header-uma {
  display: flex;
  justify-content: center;
  padding-left: 30%;

}

.first {
  background-color: ;
  color: ;
  display: flex;
  justify-content: flex-end;
  padding-left: 50%;
}

.uma-par {
  padding-right: 5%;

}

.header-jennifer {
  display: flex;
  justify-content: center;
  padding-right: 30%;
}

.second {
  background-color: ;
  color:  ;
  display: flex;
  justify-content: flex-start;
  padding-right: 50%;
}

.jennifer-par {
  padding-left: 5%;
}

.header-corey {
  display: flex;
  justify-content: center;
  padding-left: 30%;
}

.third {
  background-color: ;
  color: ;
  display: flex;
  justify-content: flex-end;
  padding-left: 50%;
}

.corey-par {
  padding-right: 5%;
}

.header-bob {
  display: flex;
  justify-content: center;
  padding-right: 30%;
}

.fourth {
  background-color: ;
  color: ;
  display: flex;
  justify-content: flex-start;
  padding-right:50%;
}

.bob-par {
  padding-left: 5%;
}

.header-thanks {
  display: flex;
  justify-content: center;
}

.special-thanks {
  background-color: ;
  color: ;
}

.image-center {
  display: flex;
  justify-content: center;
}
