body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #F6F422;
}

a:visited {
  color: #F6F422;
}

a:hover {
  cursor: pointer;
}

nav, .logoutgame {
  display: flex;
  justify-content: space-between;
  color: #F6F422;
  font-family: 'Press Start 2P';
  border-radius: 1px;
}

.instructions {
  text-align: center;
  width:90%;
  margin: 0px auto;
  margin-top:20px;
  font-family: 'Press Start 2P';
  font-size:14px;
  line-height: 200%;
  color:white;
}

.gamearea {
  width:80%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin:0px auto;
  padding:10px;
}

.gametimer {
  display: inline-block;
  padding:10px;
  font-family: 'Press Start 2P';
  font-size:16px;
  background-color:white;
  color:black;
}

#gameoveralert {
  display: inline-block;
  padding:10px;
  font-family: 'Press Start 2P';
  font-size:16px;
  background-color:white;
  color:red;
}

.startgame {
  display: inline-block;
  font-family: 'Press Start 2P';
  color:black;
  font-size:16px;
  padding:10px;
}

/* rows that hold the game images */
.row1, .row2, .row3 {
  display: flex;
  justify-content:center;
  align-items: center;
}

a:hover {
  animation: pulse .75s infinite;
  text-shadow: 0 4px 0 rgba(255, 255, 255, 0.4);
}

@keyframes pulse {
  0% {
    color: #F6F422;
  }
  50% {
    color: #C5B358;
  }
  100% {
    color: #F6F422;
  }
}

/* this is the main CSS sprite png */
.gameboard {
  background: url("../imgs/sprites.png");
  display: inline-block;
  height: 750px;
  width:900px;
}

/* Need to define each img CSS individually since using CSS sprites */
.img1 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img2 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img3 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img4 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img5 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img6 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img7 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img8 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img9 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img10 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img11 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img12 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img13 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img14 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img15 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img16 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img17 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img18 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}
