body {
  background-color: #8F6AB2;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;

}
.instructions {
  text-align: center;
  width:90%;
  margin: 0px auto;
  margin-top:20px;
  font-family: 'Press Start 2P';
  font-size:14px;
  line-height: 200%;
  color:white;
}

.gamearea {
  width:30%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin:0px auto;
  padding:10px;
}

.gametimer {
  display: inline-block;
  padding:10px;
  font-family: 'Press Start 2P';
  font-size:16px;
  background-color:white;
  color:black;
}

.startgame {
  display: inline-block;
  font-family: 'Press Start 2P';
  color:black;
  font-size:16px;
  padding:10px;
}

.row1, .row2, .row3 {
  display: flex;
  justify-content:center;
  align-items: center;
}

.gameboard {
  /*background: url("spritesheet.png");*/
  background: url("../imgs/sprites.png");
  display: inline-block;
  height: 750px;
  width:900px;
}

.img1 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img2 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img3 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img4 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img5 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img6 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img7 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img8 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img9 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img10 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img11 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img12 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img13 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img14 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img15 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img16 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img17 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}

.img18 {
  width: 150px; /* Icon width */
  height: 150px; /* Icon height */
  display: inline-block; /* Display icon as inline block */
}
