@keyframes pulse {
  0% {
    color: #F6F422;
  }
  50% {
    color: #C5B358;
  }
  100% {
    color: #F6F422;
  }
}

@keyframes stretch {
  0% {
    color: #D4AF37;
    transform: scale(.25);
    /*border-radius: 100%;*/
  }
  50% {
    color: #F6F422;
    transform: scale(1.2);
  }
  100% {
    color: #F6F422;
    transform: scale(1);
  }
}

body {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #F6F422;
  font-family: 'Press Start 2P';
  border-radius: 1px;
}

a {
  text-decoration: none;
}

a:hover {
  animation: pulse .75s infinite;
  text-shadow: 0 4px 0 rgba(255, 255, 255, 0.4);
}

a:visited {
  color: inherit;
}


.title {
  display: block;
}

.inner-title {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-left: 1%;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 125px;
  color: #F6F422;
  animation-name: stretch;
  animation-duration: 1.75s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

.fellows {
  color: #BD2031;
}


.inner-play {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  font-size: 70px;
  color: #F6F422;
  font-family: 'Press Start 2P', cursive;
}
