@keyframes pulse {
  0% {
    color: #F6F422;
  }
  50% {
    color: #C5B358;
  }
  100% {
    color: #F6F422;
  }
}
body {
  background-image: url("../imgs/Stars.jpg");
  /*background-color: black;*/
  font-family: 'Press Start 2P', cursive;
}
nav {
  display: flex;
  justify-content: space-between;
  color: #F6F422;
  font-family: 'Press Start 2P';
  border-radius: 1px;
}
a {
  text-decoration: none;
  color: #F6F422;
}
a:visited {
  color: #F6F422;
}
.inputblock {
  width: 60%;
  margin: 0px auto;
  /*background-color: #eeeeee;*/
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
}

h4, h3 {
  font-size: 28px;
  text-align: center;
  width:inherit;
  color:#F6F422;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: 0px auto;
}
h3 {
  font-size: 20px;
  padding: 25px 0px 30px 0px;
}
form {
  width: inherit;
  /*background-color: #eeeeee;*/
  /*border: 1px solid #EEEEEE;*/
  margin: 0px auto;

}
.formlists {
  list-style: none;
  margin:10px 0px 10px -15px;
  text-align: center;
}
.formlists li {
  padding-right:5px 0px 5px 0px;
  margin-bottom: 20px;
  font-size: 16px;
}
.formlists input {
  font-family: 'Press Start 2P';
  font-size: 20px;
  width: 80%;
  border: 2px solid grey;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  margin: 20px;
}
.formlists button {
  font-family: 'Press Start 2P';
  font-size: 38px;
  font-weight: bold;
  width: 70%;
  color: #F6F422;
  background-color: black;
  border: 1px solid black;
  border-radius: 90px;
  padding: 15px 20px 10px 25px;
  cursor: pointer;

}
.formlists button:hover {
  animation: pulse .75s infinite;
  text-shadow: 0 4px 0 black ;
  background-color:red;
  /*color: black;rgba(255, 255, 255, 0.4); #8F6AB2*/
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0px auto;
}
tr:nth-child(even){
  background-color: white;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td, th  {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: blue;
}
