body {
  background-image: url("../imgs/Stars.jpg");
  /*background-color: black;*/
  font-family: 'Press Start 2P', cursive;

}
h1 {
  color: #F6F422;
  text-align: center;
  padding: 25px 0px 15px 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  color: #F6F422;
  font-family: 'Press Start 2P';
  border-radius: 1px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #F6F422;
}

a:visited {
  color: inherit;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0px auto;
}

tr:nth-child(even){
  background-color: white;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td, th  {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    font-weight: bold;

}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: blue;
}
