body {
  background-color: #8F6AB2;
  font-family: 'Press Start 2P', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
